<div>
    Hallo {{ firstname }} {{ lastname }}! <br />
    Du wurdest zu Taskoo eingeladen. Klicke auf den folgenden Link um deine Anmeldung abzuschließen! <br>

    <a href="https://taskoo.de/#/invite/{{ invite_url }}">https://taskoo.de/#/invite/{{ invite_url }}</a> <br />
    <small>Der Einladungslink ist 24 Stunden gültig.</small>
</div>